:root {
  --background-primary: #ffffff;
  --color-primary: #303030;
  --color-secondary: #ffffff;
  --color-special: #ffd54b;
  --focus-visible-color: #dc142b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "GothamPro", sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-special) var(--color-primary);
  scrollbar-width: thin;
}

body {
  margin: 0;

  color: var(--color-primary);
  background: white;
}

a {
  color: unset;
  text-decoration: none;
}

b {
  font-weight: 500;
}

address {
  all: unset;
}

*:focus-visible {
  outline: 3px solid var(--focus-visible-color);
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 8px !important;
  background-color: var(--color-primary) !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-special) !important;
}
