/* Section */
.section {
  text-align: center;
  position: relative;
  display: flow-root; /* To collapse vertical margin */

  line-height: 1.5;
}
.sectionWithoutTitle {
  padding-top: 3rem;
}

.section > h2,
.section > p {
  margin: 0 5%;
}

.section > h2 {
  font-size: 1.5rem;
  margin: 50px 0 30px;
}

.section > p {
  font-size: 1.2rem;
}

@media (min-width: 24rem) {
  /* 384 px */
  .section > h2 {
    font-size: 2rem;
  }
  .section > p {
    font-size: 1.5rem;
  }
}

.sectionWhite {
  background: var(--color-secondary);
}
.sectionDarkPixels {
  background: url("/img/hero-background-dark.jpg");
}
.sectionDarkPixels b:not(.heroFancyText) {
  color: var(--color-special);
}
.sectionYellow {
  background: repeating-linear-gradient(90deg, #e7a32c, 25%, #ffd54b, 75%, #e7a32c);
}
.sectionYellow b {
  color: var(--color-primary);
}
.sectionGrey {
  background-color: #f7f7f7;
}
.sectionDark {
  background: linear-gradient(to right, #202020, 20%, var(--color-primary), 80%, #202020);
  color: var(--color-special);
}
.sectionFooterBackground {
  background: linear-gradient(to right, #202020, 20%, var(--color-primary), 80%, #202020);
}
@media (prefers-reduced-motion: no-preference) {
  .sectionYellow {
    animation: movingHorizontalBackground 40s linear infinite;
  }
  .sectionDark,
  .sectionFooterBackground {
    animation: movingHorizontalBackground 30s linear infinite;
  }
}
@keyframes movingHorizontalBackground {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}

/* Util */
.infiniteMovingSlideShowParent {
  overflow: hidden;
}
.infiniteMovingSlideShow {
  display: flex;
}

/* Hero stars */
.stars {
  z-index: 1;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
}

.stars > .small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1677px 283px #767676, 1907px 1388px #767676, 1472px 354px #767676, 1227px 1747px #767676, 644px 911px #767676, 1812px 1606px #767676, 1127px 239px #767676, 304px 125px #767676, 1838px 741px #767676, 1595px 1831px #767676, 1333px 1221px #767676, 443px 83px #767676, 225px 1210px #767676, 1741px 75px #767676, 216px 1938px #767676, 1017px 1705px #767676, 232px 1340px #767676, 1750px 1284px #767676, 485px 4px #767676, 1520px 608px #767676, 775px 1162px #767676, 153px 1941px #767676, 1860px 1186px #767676, 213px 1266px #767676, 1808px 303px #767676, 604px 1935px #767676, 1289px 771px #767676, 1830px 156px #767676, 345px 1962px #767676, 1778px 77px #767676, 1337px 1737px #767676, 1472px 175px #767676, 471px 651px #767676, 911px 340px #767676, 394px 1851px #767676, 1587px 1771px #767676, 678px 1283px #767676, 215px 1518px #767676, 1667px 75px #767676, 1216px 1888px #767676, 1906px 368px #767676, 900px 136px #767676, 700px 596px #767676, 1298px 1511px #767676, 1946px 695px #767676, 1003px 681px #767676, 1537px 405px #767676, 940px 1490px #767676, 537px 738px #767676, 337px 207px #767676, 284px 1271px #767676, 606px 682px #767676, 476px 1392px #767676, 199px 504px #767676, 698px 1683px #767676, 1585px 1307px #767676, 1106px 435px #767676, 584px 260px #767676, 907px 1742px #767676, 335px 745px #767676, 1567px 1109px #767676, 1343px 801px #767676, 1861px 274px #767676, 546px 387px #767676, 1778px 435px #767676, 1417px 1996px #767676, 386px 1824px #767676, 695px 975px #767676, 514px 1540px #767676, 572px 1438px #767676, 443px 1054px #767676, 765px 801px #767676, 946px 1632px #767676, 973px 1158px #767676, 1757px 587px #767676, 416px 27px #767676, 595px 598px #767676, 448px 1503px #767676, 385px 921px #767676, 1114px 1737px #767676, 1339px 1690px #767676, 1900px 1904px #767676, 1165px 1751px #767676, 341px 1603px #767676, 1043px 698px #767676, 393px 976px #767676, 886px 950px #767676, 836px 183px #767676, 318px 908px #767676, 191px 537px #767676, 933px 384px #767676, 205px 1164px #767676, 1950px 1937px #767676, 873px 386px #767676, 169px 1755px #767676, 742px 822px #767676, 1117px 1211px #767676, 1638px 1931px #767676, 1468px 1428px #767676, 976px 311px #767676, 1837px 1434px #767676, 112px 1542px #767676, 1800px 968px #767676, 418px 360px #767676, 1086px 730px #767676, 910px 699px #767676, 1036px 339px #767676, 1593px 321px #767676, 90px 435px #767676, 1659px 1902px #767676, 1193px 166px #767676, 701px 1698px #767676, 1580px 315px #767676, 1820px 1581px #767676, 1201px 1973px #767676, 1460px 396px #767676, 416px 230px #767676, 632px 581px #767676, 431px 1082px #767676, 576px 1270px #767676, 1147px 1276px #767676, 195px 1419px #767676, 1133px 349px #767676, 1557px 389px #767676, 788px 1267px #767676, 909px 857px #767676, 1843px 135px #767676, 1231px 1899px #767676, 1384px 842px #767676, 1px 307px #767676, 1251px 48px #767676, 1241px 859px #767676, 1728px 451px #767676, 475px 183px #767676, 950px 762px #767676, 460px 464px #767676, 922px 1086px #767676, 867px 1229px #767676, 1319px 892px #767676, 1305px 876px #767676, 1758px 839px #767676, 1465px 1644px #767676, 771px 174px #767676, 437px 1383px #767676, 822px 695px #767676, 1397px 770px #767676, 1986px 506px #767676, 1103px 1488px #767676, 466px 340px #767676, 713px 1541px #767676, 1429px 465px #767676, 1111px 1999px #767676, 1735px 1822px #767676, 1613px 480px #767676, 1163px 1212px #767676, 975px 283px #767676, 362px 991px #767676, 925px 1330px #767676, 1511px 562px #767676, 308px 12px #767676, 986px 1383px #767676, 1211px 1905px #767676, 1002px 1368px #767676, 587px 1112px #767676, 587px 1293px #767676, 608px 1072px #767676, 636px 435px #767676, 1872px 252px #767676, 1263px 1982px #767676, 1177px 381px #767676, 1055px 1364px #767676, 829px 904px #767676, 1314px 738px #767676, 518px 1686px #767676, 493px 557px #767676, 1286px 1446px #767676, 1930px 1299px #767676, 1739px 1991px #767676, 1191px 1999px #767676, 1632px 125px #767676, 163px 1250px #767676, 1648px 308px #767676, 1897px 1656px #767676, 699px 1616px #767676, 565px 651px #767676, 1073px 1165px #767676, 439px 1433px #767676, 1715px 122px #767676, 38px 1039px #767676, 225px 1554px #767676, 1699px 1294px #767676, 1339px 1502px #767676, 806px 1343px #767676, 1679px 402px #767676, 1566px 1792px #767676, 45px 753px #767676, 1422px 1883px #767676, 1951px 1957px #767676, 1975px 1808px #767676, 374px 353px #767676, 271px 1695px #767676, 1036px 399px #767676, 526px 370px #767676, 306px 1823px #767676, 1433px 225px #767676, 446px 1142px #767676, 297px 1694px #767676, 776px 1735px #767676, 148px 1883px #767676, 438px 489px #767676, 755px 1877px #767676, 1622px 1260px #767676, 1232px 1491px #767676, 674px 1381px #767676, 171px 563px #767676, 706px 815px #767676, 1727px 410px #767676, 1683px 1454px #767676, 1719px 13px #767676, 1876px 565px #767676, 130px 1103px #767676, 1541px 1205px #767676, 352px 1647px #767676, 1342px 202px #767676, 137px 70px #767676, 1072px 869px #767676, 974px 357px #767676, 1594px 1056px #767676, 198px 1213px #767676, 1588px 1286px #767676, 1902px 65px #767676, 942px 583px #767676, 199px 144px #767676, 1316px 472px #767676, 1547px 1156px #767676, 395px 1034px #767676, 1127px 1547px #767676, 422px 1804px #767676, 841px 1775px #767676, 71px 1511px #767676, 229px 660px #767676, 1536px 1191px #767676, 615px 483px #767676, 56px 1271px #767676, 930px 775px #767676, 1931px 109px #767676, 638px 783px #767676, 1913px 1090px #767676, 1276px 1068px #767676, 1034px 1816px #767676, 1644px 1126px #767676, 1137px 1217px #767676, 1062px 1694px #767676, 943px 936px #767676, 558px 59px #767676, 1527px 1192px #767676, 1783px 581px #767676, 87px 1655px #767676, 1162px 329px #767676, 1620px 1286px #767676, 1551px 317px #767676, 377px 455px #767676, 94px 1972px #767676, 157px 1270px #767676, 610px 975px #767676, 889px 1948px #767676, 354px 1759px #767676, 1989px 501px #767676, 193px 891px #767676, 399px 1097px #767676, 1330px 1857px #767676, 1740px 1905px #767676, 523px 1167px #767676, 756px 1626px #767676, 32px 1929px #767676, 846px 20px #767676, 849px 48px #767676, 570px 422px #767676, 1428px 1128px #767676, 658px 1349px #767676, 1288px 861px #767676, 125px 670px #767676, 1690px 232px #767676, 1125px 964px #767676, 749px 928px #767676, 686px 1711px #767676, 637px 1853px #767676, 342px 1339px #767676, 1967px 540px #767676, 1789px 804px #767676, 44px 1468px #767676, 134px 709px #767676, 1097px 450px #767676, 1182px 1021px #767676, 710px 1870px #767676, 1385px 1904px #767676, 196px 884px #767676, 79px 1620px #767676, 1266px 1720px #767676, 783px 931px #767676, 1211px 173px #767676, 155px 1489px #767676, 1250px 1576px #767676, 647px 679px #767676, 1737px 1524px #767676, 661px 88px #767676, 1198px 2000px #767676, 1254px 138px #767676, 1863px 565px #767676, 502px 1705px #767676, 1113px 824px #767676, 1528px 710px #767676, 1710px 468px #767676, 1743px 1881px #767676, 1603px 1923px #767676, 1109px 1717px #767676, 1208px 47px #767676, 1374px 1686px #767676, 612px 879px #767676, 377px 1550px #767676, 495px 1842px #767676, 153px 862px #767676, 224px 1566px #767676, 640px 80px #767676, 1289px 1011px #767676, 376px 463px #767676, 1923px 1005px #767676, 1083px 321px #767676, 1036px 564px #767676, 1760px 706px #767676, 972px 1343px #767676, 554px 853px #767676, 1441px 1056px #767676, 846px 921px #767676, 1773px 161px #767676, 1308px 1879px #767676, 380px 1548px #767676, 458px 1556px #767676, 828px 180px #767676, 1212px 1970px #767676, 1554px 1261px #767676, 916px 19px #767676, 692px 1044px #767676, 1977px 935px #767676, 1329px 1123px #767676, 397px 1727px #767676, 1993px 1936px #767676, 1752px 1169px #767676, 102px 1550px #767676, 1844px 871px #767676, 1860px 538px #767676, 971px 1668px #767676, 1373px 1259px #767676, 1665px 643px #767676, 1244px 389px #767676, 1932px 223px #767676, 1252px 1396px #767676, 1398px 1926px #767676, 799px 211px #767676, 1384px 710px #767676, 78px 1828px #767676, 1115px 788px #767676, 1048px 1360px #767676, 860px 532px #767676, 1731px 479px #767676, 1520px 1px #767676, 979px 342px #767676, 810px 353px #767676, 1187px 349px #767676, 1050px 1834px #767676, 1890px 1044px #767676, 813px 1466px #767676, 1034px 600px #767676, 492px 841px #767676, 1297px 1354px #767676, 1850px 1771px #767676, 1627px 1942px #767676, 180px 838px #767676, 894px 1558px #767676, 1750px 809px #767676, 497px 157px #767676, 1632px 744px #767676, 927px 541px #767676, 1053px 240px #767676, 224px 1329px #767676, 1209px 278px #767676, 1602px 760px #767676, 1672px 151px #767676, 1086px 614px #767676, 985px 234px #767676, 643px 1248px #767676, 2px 825px #767676, 717px 1242px #767676, 215px 1194px #767676, 792px 518px #767676, 600px 563px #767676, 465px 1632px #767676, 275px 1766px #767676, 1180px 168px #767676, 109px 825px #767676, 890px 623px #767676, 394px 92px #767676, 654px 1950px #767676, 1670px 395px #767676, 139px 594px #767676, 520px 910px #767676, 387px 558px #767676, 1309px 1114px #767676, 79px 1153px #767676, 901px 1310px #767676, 1377px 812px #767676, 941px 882px #767676, 1698px 1436px #767676, 1852px 1762px #767676, 1814px 490px #767676, 175px 1619px #767676, 1009px 886px #767676, 856px 1820px #767676, 1347px 1913px #767676, 874px 1368px #767676, 1267px 1281px #767676, 649px 865px #767676, 254px 7px #767676, 388px 968px #767676, 196px 819px #767676, 1534px 115px #767676, 589px 1397px #767676, 1437px 76px #767676, 500px 1293px #767676, 328px 656px #767676, 414px 749px #767676, 1222px 1728px #767676, 49px 1065px #767676, 1666px 875px #767676, 807px 1919px #767676, 1913px 1743px #767676, 1266px 1878px #767676, 290px 718px #767676, 924px 301px #767676, 1558px 466px #767676, 1590px 1656px #767676, 1247px 1907px #767676, 1325px 1599px #767676, 1487px 373px #767676, 178px 293px #767676, 1550px 1789px #767676, 668px 840px #767676, 1390px 868px #767676, 1509px 1828px #767676, 821px 35px #767676, 1772px 1585px #767676, 1339px 1360px #767676, 1424px 1111px #767676, 49px 1653px #767676, 1226px 1195px #767676, 618px 120px #767676,
    1747px 1223px #767676, 391px 1683px #767676, 1774px 121px #767676, 1795px 541px #767676, 1801px 488px #767676, 1647px 1938px #767676, 1488px 1510px #767676, 1176px 274px #767676, 659px 1684px #767676, 1133px 121px #767676, 1051px 682px #767676, 372px 332px #767676, 995px 1882px #767676, 1366px 619px #767676, 1765px 1728px #767676, 763px 521px #767676, 322px 1904px #767676, 619px 1318px #767676, 74px 1026px #767676, 900px 810px #767676, 1233px 1266px #767676, 1861px 1816px #767676, 1996px 424px #767676, 143px 1799px #767676, 1673px 847px #767676, 1681px 1401px #767676, 777px 910px #767676, 21px 782px #767676, 1529px 1220px #767676, 1967px 1979px #767676, 1727px 49px #767676, 1612px 615px #767676, 963px 1727px #767676, 1967px 449px #767676, 1637px 143px #767676, 1675px 850px #767676, 176px 324px #767676, 1548px 1629px #767676, 1574px 524px #767676, 1582px 158px #767676, 1802px 300px #767676, 649px 1718px #767676, 1649px 866px #767676, 348px 877px #767676, 343px 1496px #767676, 1618px 842px #767676, 1301px 712px #767676, 619px 1699px #767676, 1803px 164px #767676, 164px 1308px #767676, 511px 982px #767676, 780px 772px #767676, 997px 627px #767676, 1376px 1505px #767676, 373px 290px #767676, 1254px 785px #767676, 1662px 1349px #767676, 443px 542px #767676, 349px 1088px #767676, 924px 1803px #767676, 65px 1010px #767676, 1135px 827px #767676, 1581px 706px #767676, 1803px 1672px #767676, 1829px 1293px #767676, 1076px 544px #767676, 1849px 352px #767676, 1332px 173px #767676, 436px 1993px #767676, 310px 1538px #767676, 1404px 1723px #767676, 653px 749px #767676, 591px 237px #767676, 884px 1530px #767676, 1893px 1111px #767676, 741px 300px #767676, 162px 599px #767676, 1852px 1898px #767676, 1443px 932px #767676, 1753px 807px #767676, 1768px 351px #767676, 1666px 1901px #767676, 1178px 110px #767676, 1494px 136px #767676, 185px 363px #767676, 1519px 1812px #767676, 236px 306px #767676, 323px 1596px #767676, 278px 590px #767676, 101px 768px #767676, 1473px 487px #767676, 936px 535px #767676, 1910px 1868px #767676, 341px 534px #767676, 1657px 145px #767676, 1245px 358px #767676, 949px 1758px #767676, 867px 1592px #767676, 712px 733px #767676, 1297px 896px #767676, 855px 424px #767676, 202px 1973px #767676, 171px 134px #767676, 757px 1576px #767676, 1657px 979px #767676, 1173px 1929px #767676, 1611px 717px #767676, 1131px 1919px #767676, 650px 1471px #767676, 1554px 487px #767676, 1241px 1688px #767676, 965px 847px #767676, 1007px 1799px #767676, 757px 578px #767676, 1460px 1866px #767676, 1585px 115px #767676, 808px 743px #767676, 262px 163px #767676, 751px 1772px #767676, 1889px 538px #767676, 893px 564px #767676, 1203px 1801px #767676, 136px 1036px #767676, 1842px 1834px #767676, 494px 1333px #767676, 1081px 1426px #767676, 1525px 645px #767676, 445px 580px #767676, 1821px 1470px #767676, 1101px 1596px #767676, 1859px 704px #767676, 419px 1511px #767676, 562px 1951px #767676, 1519px 1930px #767676, 403px 30px #767676, 41px 982px #767676, 253px 1499px #767676, 702px 1614px #767676, 113px 101px #767676, 1150px 821px #767676, 1143px 1764px #767676, 651px 1676px #767676, 1572px 577px #767676, 1232px 278px #767676, 603px 1296px #767676, 1988px 374px #767676, 1467px 1296px #767676, 524px 958px #767676, 1583px 1977px #767676, 1525px 1627px #767676, 98px 873px #767676, 1762px 669px #767676, 878px 528px #767676, 970px 199px #767676, 160px 120px #767676, 1411px 1352px #767676, 1664px 11px #767676, 1642px 1928px #767676, 114px 1131px #767676, 1462px 1909px #767676, 1735px 738px #767676, 1579px 479px #767676, 1761px 1299px #767676, 1455px 676px #767676, 1555px 1967px #767676, 607px 520px #767676, 149px 1267px #767676, 626px 671px #767676, 542px 1314px #767676, 147px 1275px #767676, 608px 949px #767676, 707px 1640px #767676, 1608px 590px #767676, 1358px 1827px #767676, 148px 1352px #767676, 1979px 604px #767676, 525px 1507px #767676, 1523px 98px #767676, 1607px 1213px #767676, 1083px 1264px #767676, 930px 852px #767676, 182px 329px #767676, 1395px 1074px #767676, 1003px 1936px #767676, 1794px 1757px #767676, 1713px 1271px #767676, 1106px 1445px #767676, 1095px 196px #767676, 1172px 1636px #767676, 1142px 1660px #767676, 842px 1482px #767676, 1879px 1960px #767676, 254px 400px #767676, 134px 793px #767676, 517px 157px #767676, 684px 387px #767676, 1861px 277px #767676, 1181px 752px #767676, 1916px 1584px #767676, 864px 1704px #767676, 1299px 272px #767676, 1307px 143px #767676, 1200px 1424px #767676, 1530px 884px #767676, 1335px 766px #767676, 1653px 1943px #767676, 1586px 1715px #767676, 1513px 1769px #767676, 119px 986px #767676, 218px 241px #767676, 736px 1896px #767676, 1969px 422px #767676, 651px 1729px #767676, 972px 1354px #767676, 685px 554px #767676, 671px 761px #767676, 1344px 110px #767676, 1172px 1245px #767676, 1497px 1326px #767676, 706px 1060px #767676, 754px 1573px #767676, 1850px 1596px #767676, 1983px 1499px #767676, 1818px 19px #767676, 1698px 102px #767676, 1731px 1511px #767676, 1837px 1810px #767676, 1807px 1215px #767676, 1405px 1807px #767676, 57px 873px #767676, 745px 1624px #767676, 400px 1278px #767676, 1145px 753px #767676, 868px 4px #767676, 549px 1034px #767676, 124px 230px #767676, 169px 545px #767676, 742px 1057px #767676, 1787px 891px #767676, 1546px 1126px #767676, 557px 735px #767676, 780px 1632px #767676, 1217px 1103px #767676, 626px 605px #767676;
  animation: starsAnimation -25s 50s linear infinite;
}

.stars > .medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 788px 979px #767676, 344px 986px #767676, 1873px 1914px #767676, 360px 363px #767676, 1258px 1767px #767676, 308px 1820px #767676, 1305px 1640px #767676, 400px 1052px #767676, 1837px 318px #767676, 1980px 996px #767676, 975px 1847px #767676, 298px 820px #767676, 387px 58px #767676, 1060px 241px #767676, 626px 1072px #767676, 426px 1218px #767676, 1253px 771px #767676, 360px 319px #767676, 653px 890px #767676, 1920px 1637px #767676, 1744px 738px #767676, 696px 634px #767676, 412px 589px #767676, 1832px 1915px #767676, 334px 568px #767676, 894px 1653px #767676, 1894px 565px #767676, 420px 36px #767676, 1148px 192px #767676, 281px 1163px #767676, 1222px 1946px #767676, 1031px 695px #767676, 1867px 1216px #767676, 1492px 437px #767676, 1551px 1890px #767676, 1734px 667px #767676, 486px 515px #767676, 1376px 1250px #767676, 43px 1558px #767676, 1978px 1941px #767676, 930px 1235px #767676, 886px 1277px #767676, 1011px 1205px #767676, 1900px 16px #767676, 998px 878px #767676, 1551px 290px #767676, 236px 22px #767676, 1744px 341px #767676, 224px 812px #767676, 402px 1346px #767676, 1905px 478px #767676, 699px 645px #767676, 1331px 752px #767676, 208px 50px #767676, 1052px 997px #767676, 1510px 416px #767676, 1340px 739px #767676, 1684px 597px #767676, 302px 1259px #767676, 324px 1734px #767676, 1878px 302px #767676, 943px 1100px #767676, 1087px 1003px #767676, 256px 313px #767676, 1420px 1406px #767676, 961px 1404px #767676, 35px 813px #767676, 1762px 1725px #767676, 1537px 532px #767676, 945px 186px #767676, 386px 207px #767676, 1492px 205px #767676, 1064px 1917px #767676, 1486px 1266px #767676, 335px 935px #767676, 1498px 1849px #767676, 1414px 1951px #767676, 816px 212px #767676, 640px 1592px #767676, 1960px 1573px #767676, 1020px 217px #767676, 270px 658px #767676, 68px 380px #767676, 84px 1510px #767676, 1983px 867px #767676, 1782px 1494px #767676, 1282px 706px #767676, 1081px 1170px #767676, 667px 1230px #767676, 1403px 1845px #767676, 1790px 1657px #767676, 1007px 1374px #767676, 470px 1327px #767676, 107px 554px #767676, 973px 991px #767676, 163px 428px #767676, 1698px 1603px #767676, 1592px 1139px #767676, 1247px 1158px #767676, 1405px 1488px #767676, 610px 1986px #767676, 1814px 318px #767676, 1340px 1953px #767676, 1045px 1350px #767676, 1065px 1410px #767676, 1752px 904px #767676, 1821px 1039px #767676, 14px 565px #767676, 431px 793px #767676, 1429px 1066px #767676, 441px 137px #767676, 1462px 1588px #767676, 269px 1804px #767676, 43px 534px #767676, 1753px 392px #767676, 312px 121px #767676, 1803px 1694px #767676, 1273px 381px #767676, 307px 858px #767676, 521px 1433px #767676, 351px 461px #767676, 1391px 1905px #767676, 168px 589px #767676, 663px 371px #767676, 230px 454px #767676, 501px 719px #767676, 1085px 528px #767676, 473px 1552px #767676, 219px 335px #767676, 360px 836px #767676, 1567px 1431px #767676, 1638px 827px #767676, 1px 1789px #767676, 1689px 149px #767676, 894px 449px #767676, 1398px 1146px #767676, 816px 32px #767676, 47px 1403px #767676, 1px 1467px #767676, 217px 628px #767676, 1512px 1289px #767676, 1835px 261px #767676, 1158px 826px #767676, 1976px 1960px #767676, 755px 1398px #767676, 1652px 1814px #767676, 1202px 661px #767676, 373px 707px #767676, 541px 1480px #767676, 1916px 1127px #767676, 214px 1429px #767676, 66px 953px #767676, 223px 1592px #767676, 1300px 1073px #767676, 968px 1440px #767676, 1277px 7px #767676, 1230px 854px #767676, 1176px 1909px #767676, 1183px 36px #767676, 725px 1548px #767676, 84px 615px #767676, 1074px 108px #767676, 1916px 1212px #767676, 250px 1712px #767676, 645px 58px #767676, 1149px 1238px #767676, 637px 1702px #767676, 1079px 193px #767676, 760px 1743px #767676, 249px 461px #767676, 1454px 1959px #767676, 491px 329px #767676, 971px 643px #767676, 312px 1783px #767676, 1627px 381px #767676, 626px 1537px #767676, 1366px 369px #767676, 1112px 1919px #767676, 627px 796px #767676, 1015px 323px #767676, 1749px 1929px #767676, 1650px 1307px #767676, 1197px 1864px #767676, 1696px 507px #767676, 1270px 570px #767676, 1046px 240px #767676, 692px 821px #767676, 1266px 1915px #767676, 915px 849px #767676, 1195px 218px #767676, 1269px 1813px #767676, 1315px 323px #767676, 1738px 788px #767676, 1230px 367px #767676, 1070px 1535px #767676, 1829px 198px #767676, 13px 1543px #767676, 1501px 1155px #767676, 1540px 1232px #767676, 1685px 1575px #767676;
  animation: starsAnimation -30s 100s linear infinite;
}

.stars > .big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1781px 832px #767676, 805px 1002px #767676, 1997px 1446px #767676, 14px 1578px #767676, 772px 418px #767676, 547px 309px #767676, 939px 1449px #767676, 1925px 731px #767676, 920px 1971px #767676, 310px 838px #767676, 584px 1804px #767676, 1383px 1882px #767676, 861px 1117px #767676, 752px 680px #767676, 1715px 24px #767676, 1845px 1507px #767676, 1597px 1058px #767676, 981px 624px #767676, 521px 1864px #767676, 610px 1944px #767676, 1672px 1266px #767676, 390px 1908px #767676, 1292px 261px #767676, 1391px 1348px #767676, 1074px 1550px #767676, 601px 481px #767676, 1787px 960px #767676, 1066px 960px #767676, 394px 1511px #767676, 1737px 1183px #767676, 1049px 1967px #767676, 1899px 1004px #767676, 435px 1000px #767676, 1219px 707px #767676, 1994px 1337px #767676, 514px 1317px #767676, 1427px 1892px #767676, 1106px 441px #767676, 1522px 1615px #767676, 611px 745px #767676, 996px 1025px #767676, 1964px 1762px #767676, 906px 1128px #767676, 1839px 1914px #767676, 509px 1441px #767676, 324px 1188px #767676, 1131px 409px #767676, 1828px 1744px #767676, 1532px 692px #767676, 1506px 1285px #767676, 784px 1896px #767676, 868px 105px #767676, 1485px 452px #767676, 136px 1664px #767676, 572px 188px #767676, 1785px 1613px #767676, 1571px 586px #767676, 1914px 1863px #767676, 462px 1049px #767676, 1062px 1212px #767676, 1666px 1439px #767676, 346px 749px #767676, 1176px 1984px #767676, 1567px 28px #767676, 1852px 666px #767676, 1556px 1490px #767676, 950px 1134px #767676, 135px 1262px #767676, 1941px 924px #767676, 1329px 1243px #767676, 1332px 554px #767676, 1379px 1107px #767676, 926px 28px #767676, 367px 667px #767676, 12px 546px #767676, 701px 678px #767676, 897px 334px #767676, 302px 716px #767676, 1870px 1706px #767676, 216px 293px #767676, 1705px 1782px #767676, 416px 593px #767676, 980px 157px #767676, 801px 1717px #767676, 1270px 421px #767676, 1828px 1516px #767676, 539px 865px #767676, 1098px 260px #767676, 854px 123px #767676, 1380px 286px #767676, 54px 1858px #767676, 1939px 1051px #767676, 1719px 1030px #767676, 1430px 1050px #767676, 829px 1887px #767676, 1495px 1483px #767676, 1896px 1509px #767676, 1365px 797px #767676, 470px 1366px #767676, 1348px 1842px #767676;
  border-radius: 100%;
  animation: starsAnimation -35s 150s linear infinite;
}

@keyframes starsAnimation {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 70px;
  animation: fromTransparent 3s 1s ease-in-out backwards;
}

.headerLogo {
  width: 133px;
  margin: auto;
  transform: translateY(-22px);
  transition: filter 0.3s ease-in-out;
}
.headerLogo:hover {
  filter: brightness(1.3);
}

.navBar {
  display: none;
  text-align: right;
}

@media (min-width: calc(25rem + 240px)) {
  .navBar {
    display: block;
  }
  .headerLogo {
    margin: 0 0 0 53px;
  }
}

.navBar > * {
  margin-right: 2rem;
}

.navBtn {
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-secondary);
  transition: color 0.2s ease-in-out;
}
.navBtn:hover {
  color: var(--color-special);
}

.navBtnSpecial {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--color-primary);
  background-image: linear-gradient(to right, #fed14a, 30%, #e8a52d);
  padding: 10px 30px;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}
.navBtnSpecial:hover {
  color: black;
  background-image: linear-gradient(to right, #ffcf3f, 30%, #ffad19);
}

/* Hero */

.heroSection {
  min-height: calc(100vh - 100px);
  color: var(--color-secondary);
}

.heroHeading {
  margin-top: 175px;
  margin-bottom: 35px;

  font-size: min(10vw, 5.7rem);
  position: relative;
  z-index: 2;
  animation: fromTransparent 2s ease-in-out;
}
@keyframes fromTransparent {
  from {
    opacity: 0;
  }
}

.heroFancyText {
  background-clip: text;
  background-image: repeating-linear-gradient(126deg, #f1d409, #fe6c0f, #f1d409);
  background-size: 200%;
  color: var(--color-primary);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  animation: heroFanyTextMovement 5s linear infinite;
}
@keyframes heroFanyTextMovement {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}
.heroP {
  font-weight: 500;
  position: relative;
  z-index: 2;
  animation: fromTransparent 2s 1s ease-in-out backwards;
}

/* Wave */
.wave {
  height: 100px;
  width: 100%;
  mask: top / 100% 100px no-repeat;
  position: relative;
  z-index: 1; /* Map can be placed in transparent area */
  user-select: none;
  pointer-events: none;
}

.waveImage1 {
  --wave-image-1: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 92" preserveAspectRatio="none"><path d="M0,67c0,0,263.6,22.9,599.7,23.4S1013.9,65,1344,65s576,25.6,576,25.6V92H0V67z"/></svg>');
  mask-image: var(--wave-image-1);
}
.waveImage2 {
  mask-image: url("/img/wave/wave-7.svg");
}
.waveImage3 {
  mask-image: url("/img/wave/wave-8.svg");
}
.waveImage4 {
  mask-image: url("/img/wave/wave-9.svg");
}
@media (min-width: 800px) {
  .waveImage1 {
    --wave-image-1: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 92"><path d="M1990-120.723s263.584,89.886,599.672,90.384,414.6-88.391,744.678-88.391S3910-30.075,3910-30.075v1.352H1990Z" transform="translate(-1990 120.723)"/></svg>');
  }
  .waveImage2 {
    mask-image: url("/img/wave/wave-2.svg");
  }
  .waveImage3 {
    mask-image: url("/img/wave/wave-3.svg");
  }
  .waveImage4 {
    mask-image: url("/img/wave/wave-4.svg");
  }
}

/* Services */
.services {
  margin-block: 50px;
  display: grid;
  gap: 15px;
  grid-template-columns: calc(100% - 30px);
  grid-auto-rows: 200px;
  justify-content: center;
}
@media (min-width: 530px) {
  .services {
    grid-template-columns: 500px;
  }
}
@media (min-width: 1060px) {
  .services {
    grid-template-columns: repeat(2, 500px);
  }
}

.service {
  position: relative;
  transition: all 0.3s ease-in-out;
  /* Clearing button user-agent styles */
  border: none;
  padding: 0;
  user-select: text;
  cursor: unset;
  background: 0;
}
.service:hover {
  transform: scale(1.03);
}
.serviceBackground {
  border-radius: 20px;
  object-fit: cover;
}
.serviceForeground {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  display: flow-root;
  background-color: #303030b3;
  box-shadow: 2px 2px 5px #303030;
  border-radius: 20px;
}
.serviceForeground > * {
  left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0;
}
@media (min-width: 20rem) {
  /* 320 px */
  .serviceForeground > * {
    left: 2rem;
    padding-right: 2rem;
  }
}
.serviceTitle {
  color: var(--color-special);
  font-weight: bold;
  font-size: 1.2rem;

  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 24rem) {
  /* 384 px */
  .serviceTitle {
    font-size: 1.5rem;
  }
}
.serviceDescription {
  z-index: 2;
  color: var(--color-secondary);
  font-size: 1.25rem;
  line-height: 1.5;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.service:hover .serviceDescription {
  opacity: 1;
}
.service:hover .serviceTitle {
  opacity: 0;
}

/* Microsoft Support */
.productLogoGroup {
  margin-block: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.productLogo {
  filter: drop-shadow(5px 5px 5px #252525);
  width: auto;
  height: 100px;
  transition: all 0.3s ease-in-out;
}
.productLogo:hover {
  filter: drop-shadow(5px 5px 5px #252525) brightness(1.2);
  transform: scale(1.1);
}

/* Skills */
.cardGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 75px 15px 50px;
}

.card {
  box-shadow: 0 3px 10px #3030301a;
  border-radius: 20px;
  flex: 0 1 390px;
  height: 350px;
  font-size: 1.1rem;
  padding: 1.2rem;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 0 3px 10px #3030308a;
  transform: scale(1.03);
}

.cardImage {
  max-width: 100%;
  height: auto;
}

/* Partners */
.partnerGroup {
  margin-block: 2rem 4rem;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.partnerGroup {
  margin-block: 0 4rem;
}
.partner {
  filter: drop-shadow(5px 5px 5px #252525);
  width: auto;
  height: 20px;
  transition: filter 0.3s ease-in-out;
  overflow: visible;
}
.partner:hover {
  filter: drop-shadow(5px 5px 5px #252525) brightness(1.2);
}
@media (min-width: 700px) {
  .partner {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .partner {
    height: 50px;
  }
}

/* Contact */
.contactBox {
  position: absolute;
  z-index: 2;
  background: linear-gradient(90deg, #780b1f96, #58244896, #3f256896);
  box-shadow: 0 0 10px #0000008f;
  right: 10px;
  left: 10px;
  transform: translateY(160px);
  width: auto;
  backdrop-filter: blur(4px) grayscale(1);
  border-radius: 20px;
  color: var(--color-secondary);
  padding: 20px 10px;
  transition: all 0.2s ease-in-out;
}
.contactBox:hover {
  box-shadow: 0 0 15px #000000de;
}
@media (min-width: 24rem) {
  .contactBox {
    padding: 20px 40px;
    left: 30px;
    right: 30px;
  }
}
@media (min-width: 750px) {
  /* Matches value in googleMap.tsx */
  .contactBox {
    left: auto;
    right: 30px;
    width: min(500px, 100% - 60px);
    transform: none;
  }
}
@media (min-width: 92rem) {
  .contactBox {
    width: min(680px, 100% - 60px);
  }
}

.contactBox h2 {
  color: var(--color-special);
  margin: 20px 0;
}

.contactBox h3 {
  margin: 0 0 10px 0;
  font-weight: 600;
}

.contactColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.contactColumns > * {
  flex: 0 1 100%;
}
@media (min-width: 34rem) {
  .contactColumns {
    text-align: left;
    justify-content: space-between;
  }
  .contactColumns > * {
    flex: 0 1 auto;
  }
}

.contactBox .contactLink {
  display: block;
  line-height: 2;
}

.openingHours p {
  text-align: center;
  margin: 0;
  line-height: 2;
}

.contactLink {
  transition: color 0.2s ease-in-out;
}
.contactLink:hover {
  color: var(--color-special);
}

.contactLink svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  transform: translateY(5px);
  transition: filter 0.2s ease-in-out;
  user-select: none;
  margin-right: 5px;
}
.contactLink:hover svg {
  filter: brightness(1.3);
}

/* Google Map */
.googleMap {
  height: 700px;
  width: 100%;
  margin-top: -100px;
  margin-bottom: -100px;
  background-color: var(--color-primary);
}
@media (min-width: 34rem) {
  .googleMap {
    height: 600px;
  }
}
@media (min-width: 750px) {
  .googleMap {
    height: 500px;
  }
}

/* Footer */
.pageFooter {
  color: #b9b9b9;
  text-align: center;
  padding-bottom: 15px;
  position: relative;
}

.pageFooter p {
  margin: 0;
  line-height: 1.4;
}

.btnScrollTop {
  position: absolute;
  top: -40px;
  transition: filter 0.2s ease-in-out;
  z-index: 3;
}
.btnScrollTop:hover {
  color: #575656;
  filter: brightness(1.3);
}
@media (min-width: 660px) {
  .btnScrollTop {
    top: 10px;
    right: 20px;
  }
}
@media (min-width: 900px) {
  .btnScrollTop {
    right: 80px;
  }
}
